
.header {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    background: #d9a7c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 30px;
}
.body {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%
}

.leftWelcome {
    border-radius: 30px;
    height:100%;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }

.rightWelcome {
    height: 100%;
    margin-left: 10%;
}

.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card-info {
    padding-left: 50px;
    padding-top: 20px;
    width: 100%;
    height: 150px;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 30px;
  }

.card-info p{
    
    color: white;
    justify-content: center;
    align-items: center;
}

.intro-text h1 {
    color: white;
}

.intro-text h3 {
    color: white;
}

